.style_header_logo{
     margin: 2rem 0; font-family: 'Acme', sans-serif;
}

.style_header_button{
     margin-bottom: 1.5rem
}

.style_footer_logo{
     margin: 1.5rem 0; font-family: 'Acme', sans-serif;
}

.style_footer_button{
     margin-top: 1.5rem
}